.navigation,
.fixed-nav {
    height: 117px;
}

.main-menu {
  ul,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.navigation__control {
    > a,
    > button {
        height: 44px;
        width: 44px;
        font-size: 14px;
        cursor: pointer;
        transition: all 300ms ease;
        text-decoration: none;
        margin-bottom: 0;

        &:hover {
            background: white !important;
            border: 1px solid black !important;
            color: black !important;
        }
    }
}

.navigation {
    #navCloser {
        display: none !important;
    }
    &:has(#sw_menu.active) {
        #menu-toggler {
            display: none !important;
        }

        #navCloser {
            display: flex !important;
        }
    }
}

@media (min-width: 1177px) {
  .navigation__logo {
    max-width: 225px;
  }

  .main-menu {
    margin-top: 24px;
    max-height: 50vh;
    height: 50vh;
    overflow-y: auto;
    overscroll-behavior: contain;

    .menu-item {
      width: 200px;

      > a {
        display: flex;
        align-items: center;
        min-height: 44px;
        padding: 0 12px;
        text-decoration: none;
        color: #000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }

      &:first-child > a {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
      }
    }

    .menu-item > ul {
      position: absolute;
      top: 0;
      left: 212px;
      width: 212px;
      height: 100%;
      opacity: 0;
      pointer-events: none;

      > li > ul {
        left: 212px;
      }
    }

    .menu-has-children {
      > a {
        position: relative;
        padding-right: 24px;

        &::after {
          content: "\f0da";
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          position: absolute;
          right: 12px;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
        }
      }

      &:hover {
        > a {
          background-color: rgba(0, 0, 0, 0.05);
        }
        > ul {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    .menu-level-0 .menu-has-children > ul {
      padding-left: 12px;
    }

    .menu-level-0 li.menu-item:hover .menu-level-1,
    .menu-level-0 li.menu-item:hover .menu-level-2 {
      display: block;
    }
  }
}

@media screen and (max-width: 1176px) {
  .navigation__logo {
    max-width: 150px;
  }

  .main-menu {
    ul.menu-level-0 li.menu-closed ul.menu-level-1,
    ul.menu-level-1 li.menu-closed ul.menu-level-2 {
      display: none;
    }

    .menu-level-1.open {
      display: block;
    }

    li {
      padding-left: 0;
    }

    ul.menu-level-0 {
      padding-left: 0;
      margin-top: 0;
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
  }

  .navigation {
    .main-menu {
        padding-top: 24px;
        max-height: 50vh;
        overflow-y: auto;
        overscroll-behavior: contain;

      input {
        margin-top: 45px;
        padding: 0 1rem !important;
        height: 40px;
      }

      &.active {
        right: -5px;
        transition: ease 0.3s;
      }

      > div#navCloser {
        display: block;
        position: absolute;
        top: 12.5px;
        right: 2rem;

        > i {
          float: right;
        }
      }

      .menu-level-0 {
        width: 100%;

        > li {
          padding: 12px 2rem 0;
          border-bottom: 1px solid #ebebeb;
          min-height: 50px;
          position: relative;

          &:first-child {
            border-top: 1px solid #ebebeb;
          }

          &.menu-has-children {
            cursor: pointer;

            &.menu-closed:after,
            &.menu-open:after {
              font-family: "Font Awesome 5 Free";
              font-size: 1rem;
              color: #6f6f6f;
              position: absolute;
              right: 2rem;
              top: 12.5px;
              font-weight: 900;
            }
            &.menu-closed:after {
              content: "\f078";
            }
            &.menu-open:after {
              content: "\f077";
            }
          }
        }

        .menu-level-1 {
          > li {
            padding: 12px 1rem 0;
            min-height: 25px;
            position: relative;

            &:last-child {
              margin-bottom: 1rem;
            }

            &.menu-has-children {
              cursor: pointer;

              &.menu-closed:after,
              &.menu-open:after {
                font-family: "Font Awesome 5 Free";
                font-size: 1rem;
                color: #6f6f6f;
                position: absolute;
                right: 2rem;
                top: 12.5px;
                font-weight: 900;
              }
              &.menu-closed:after {
                content: "\f078";
              }
              &.menu-open:after {
                content: "\f077";
              }
            }
          }
        }

        .menu-level-2 {
          > li {
            padding-left: 12px;
          }
        }
      }
    }

    .backdrop.active {
      background-color: rgba(0, 0, 0, 0.2);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      z-index: 2;
    }

    .icon-bar {
      top: 50%;
    }
  }
}

#sw_menu {
  display: none;

  &.active {
    display: block;
  }
}
