.sw-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 999;
}

.sw-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  max-width: 40rem;
  border-radius: 0.2rem;
}

.blocked {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.01s, opacity 0.01s 0s, transform 0.01s;
  z-index: 999;
}
.blocked-show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.01s 0s, transform 0.01s;
}

#sw-modal-footer {
  float: right;

  button {
    border-color: black;
  }
}

#sw-modal-title {
  border-bottom: 1px;
  border-bottom-style: solid;
  padding: 0px;
}

#sw-modal-title > h3 {
  margin: 2px;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.sw_pointer {
  cursor: pointer;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

button {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
  line-height: 1.5;
}
button:hover,
div.webshop_select_option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
button:focus {
  outline: none;
}

ul.menu-vertical,
ul.menu-vertical li {
  list-style-type: none;
  padding: 0px;
}
ul.menu-horizontal,
ul.menu-horizontal li {
  display: inline-block;
  margin-right: 10px;
  padding: 0px;
}

.hold_the_line div,
.hold_the_line p,
.hold_the_line h1,
.hold_the_line h2,
.hold_the_line h3,
.hold_the_line h4,
.hold_the_line h5,
.hold_the_line h6,
hold_the_line input,
hold_the_line select {
  display: inline-block;
}

.grouped * {
  display: inline-block;
}

.sub-header * {
  margin-bottom: 0px;
  margin-top: 0px;
}

.sub-header input {
  color: #000;
}
.sub-header,
.sub-header h3 {
  color: #fff;
}

.hide {
  display: none;
}

.pager > li {
  margin: 0;
  display: inline-block;
}

#sort_order {
  float: right;
}

.pager {
  text-align: right;

  @media screen and (max-width: 575px) {
    text-align: center;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.cms_content a {
  &:not(.tmplt_base_color_text) {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cms_content {
  &.row {
    margin: 0px !important;

    > .col-12 {
      padding: 0px !important;
    }
  }

  &:not(:has(section)) {
    &.row {
      padding-top: 117px !important;
      padding-bottom: 96px !important;
      padding: 0 24px;
      max-width: 1280px;
      margin: auto !important;
    }
  }
}

.cms__object {
  padding-top: 117px !important;
  padding-bottom: 96px !important;

  .row > * {
    padding: 0;
  }

  #customer_modify {
    > .row {
      margin-bottom: 24px !important;

      > div {
        display: flex;
        align-items: center;

        h3 {
          margin-bottom: 0px !important;
        }
      }
    }

    @media screen and (max-width: 900px) {
      width: 100% !important;

      > .row {
        margin-bottom: 24px !important;

        > div {
          &.col-8 {
            width: 100% !important;
          }

          &.col-4 {
            width: 100% !important;
          }
        }
      }
    }
  }

  #sw-form-customer_modify_form {
    .row {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      column-gap: 12px;

      > * {
        grid-column: span 12 / span 12;

        &.col-8 {
          grid-column: span 8 / span 8;
          width: 100% !important;
        }

        &.col-4 {
          grid-column: span 4 / span 4;
          width: 100% !important;
        }

        @media screen and (max-width: 900px) {
          &.col-8 {
            grid-column: span 12 / span 12;
          }

          &.col-4 {
            grid-column: span 12 / span 12;
          }
        }
      }

      + .row {
        margin-top: 24px !important;
      }
    }

    + .row {
      margin-top: 24px !important;

      button {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
  }

  #customer_order_history,
  #customer_orders {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 12px;

    &.visible-large {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &.visible-small {
      @media screen and (min-width: 901px) {
        display: none;
      }
    }

    > .col-2 {
      grid-column: span 2 / span 2;
      width: 100% !important;
      display: flex;
      align-items: center;
    }

    + .row {
      margin-top: 24px !important;

      ~ .row {
        margin-top: 12px !important;
      }
    }
  }

  #customer_order_history {
    padding-top: 24px;
  }

  #customer_orders_small {
    .grouped {
      display: flex;
      align-items: center;
      column-gap: 12px;
    }
  }

  #customer_orders_small,
  #customer_order_history,
  #customer_orders {
    button {
      margin-bottom: 0px !important;
      background: black;
      border-color: black;
      color: white;

      &:hover {
        background: white;
        color: black;
      }
    }
  }

  #customer_reset_password_form,
  #customer_login_form {
    .col-12 + .col-12 {
      margin-top: 24px !important;
    }

    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }

  [data-view="login-buttons"] {
    margin-top: 24px !important;
  }

  #sw_customer_login_back {
    margin-bottom: 24px;
  }

  #checkout_one_page {
    &:not(.hide) {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      column-gap: 12px;
      row-gap: 36px;
    }

    > .col-12 {
      grid-column: span 12 / span 12;
      width: 100% !important;
    }

    > .col-lg-4 {
      grid-column: span 4 / span 4;
      width: 100% !important;

      @media screen and (max-width: 900px) {
        grid-column: span 12 / span 12;
      }
    }

    button,
    .webshop_select_option {
      margin-top: 12px !important;
      border-color: black;

      &.alert-success {
        background-color: black;
        color: white;
      }
    }

    #sw-form-invoice_address {
      > div + div {
        margin-top: 12px !important;
      }
    }

    #alt_delivery_form {
      margin-top: 12px !important;
    }

    #send_methods + div {
      margin-top: 24px !important;
    }

    #account_create,
    #alt_delivery,
    #checkout_newsletter_subscribe,
    .checkout_total_line {
      .form-control {
        appearance: auto;
      }
    }

    .checkout_total_line {
      display: flex;
      align-items: center;
      h3 {
        margin-bottom: 0px !important;
      }
    }

    #totals {
      .row + .row {
        margin-top: 12px !important;
      }
    }

    #sw-form-terms_and_conditions {
      margin-top: 12px !important;

      .col-12 {
        margin-top: 12px !important;
      }
    }
  }

  .checkout__discounts {
    margin-top: 36px !important;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 12px;

    > .col-lg-4 {
      grid-column: span 4 / span 4;
      width: 100% !important;

      @media screen and (max-width: 900px) {
        grid-column: span 12 / span 12;
      }
    }
  }

  input,
  textarea,
  select {
    border-radius: 0px !important;
    border: 1px solid black !important;

    + label {
      margin-top: 12px !important;
    }
  }
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-item {
  list-style-type: none;
}

.pager-link-selected {
  font-weight: bold;
}

/* image in a containter to guarantee the 230px height for alignment other elements*/

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
textarea.form-control {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
}

textarea.shopping-cart,
input[type="text"].shopping-cart,
input[type="password"].shopping-cart {
  width: 60%;
}

textarea.form-control {
  height: 300px;
}

select.form-control:not([readonly]):focus,
input[type="text"].form-control:not([readonly]):focus,
input[type="password"].form-control:not([readonly]):focus,
textarea.form-control:not([readonly]):focus {
  -webkit-appearance: none;
  border-color: #00afe9;
  outline: none;
}

input.form-control[readonly] {
  outline: none;
}

input.form-control.has_error {
  -webkit-appearance: none;
  border-color: #aa0000;
}

input.form-control:read-only {
  background-color: #eee;
}

input.form-control:-moz-read-only {
  background-color: #eee;
}

.form-error {
  font-size: 10px;
}

.clear_margins > div[class^="col"] {
  margin-left: 0px;
}

.webshop_select_option {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  padding: 10px;
}

.checkout_total_line {
  text-align: right;
}

.menu-collapse,
.menu-collapse:hover {
  background: #fff;
}
.menu-collapse i {
  color: #000;
}

.menu {
  height: 30px;
}

/* The snackbar for the cookie message  - middle and bottom  */
#cookie-message {
  visibility: hidden;
  background-color: #ddd;
  color: #000;
  min-width: 550px; /* Set a default minimum width */
  margin-left: -275px; /* Divide value of min-width by 2 */
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 99;
  left: 50%;
  bottom: 30px;
}

li.filter-block-header {
  font-size: 20px;
  font-weight: 900;
  list-style-type: none;
}

#sw_shoppingcart_count,
#sw_wishlist_count {
  font-size: 12px;

  color: #fff;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.shopping-cart-number,
.wishlist-cart-number {
  position: absolute;
  top: 2px;
  left: 30px;
  background: #000;
  border-radius: 9px;
  pointer-events: none;
}

.menu_customer {
  display: none;
  position: absolute;
  right: 0;
  font-size: 20px;
  list-style-type: none;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  padding: 20px 40px 20px 20px;
}

.menu_customer a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

#sw_customer_options:hover + .menu_customer {
  display: table-row-group;
}

.menu_customer:hover {
  display: table-row-group;
}

/* mobile */
@media (max-width: 768px) {
  div.header .row [class^="col"] {
    margin: 0px;
  }
  .visible-large {
    display: none;
  }
  .visible-small {
    display: block;
  }

  .menu {
    display: inline-block;
    background: #fff;
    padding: 10px;
    z-index: 999;
    height: auto;
  }

  li.filter-block-header:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    content: "\f067";
    left: -1em;
    color: #000;
  }
  li.filter-block-header.filter-open:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    content: "\f068";
    left: -1em;
    color: #000;
  }

  div.filter-block-options {
    display: none;
  }

  div.filter-block-options.filter-open {
    display: block;
  }

  .menu-mobile {
    display: none;
  }

  .menu-level-0 > li.menu-item {
    color: #000;
  }
}

/* desktop */
@media (min-width: 768px) {
  .filter-block {
    margin-bottom: 48px;
  }

  .visible-large {
    display: block;
  }

  .visible-small {
    display: none;
  }
}

/* classes from the cms editor, these need to be preserved */
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}

figure {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
figure img {
  max-width: 100%;
  height: auto;
}
figure figcaption {
  font-size: 12px;
}

.search-wrapper {
  display: inline-block;
  position: relative;
}
.search-wrapper:after {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  top: 10px;
  position: absolute;
  right: 6px;
  color: #000;
}

.large {
  font-size: 40px;
}

#sw_customer_login:hover,
#checkout_button:hover {
  cursor: hand;
}

.container {
  max-width: 1280px;
}

.menu-navigator ul {
  padding-left: 10px;
}

.menu-navigator li.menu-selected > a {
  font-weight: bold;
}

ul.has-cms-content p {
  color: #000;
}

@media screen and (max-width: 500px) {
  [data-view="login-buttons"] {
    button {
      width: 100%;
    }
  }
}

.start-4 {
  left: 16px;
}

.end-4 {
  right: 16px;
}

main {
  margin-top: -117px;

  &:has(.products:first-child) {
    .products {
      margin-top: 117px;
    }
  }
}

.row {
  margin: 0px !important;
}

@import "elements/navbar";
@import "elements/components";
@import "elements/breadcrumb";
@import "elements/filter";
@import "elements/navbar";
@import "elements/footer";
@import "elements/headers";
@import "elements/article";
@import "elements/cart";
