.sw-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 999;
}

.sw-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  max-width: 40rem;
  border-radius: 0.2rem;
}

.blocked {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.01s, opacity 0.01s 0s, transform 0.01s;
  z-index: 999;
}

.blocked-show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.01s 0s, transform 0.01s;
}

#sw-modal-footer {
  float: right;
}
#sw-modal-footer button {
  border-color: black;
}

#sw-modal-title {
  border-bottom: 1px;
  border-bottom-style: solid;
  padding: 0px;
}

#sw-modal-title > h3 {
  margin: 2px;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.sw_pointer {
  cursor: pointer;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

button {
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px;
  line-height: 1.5;
}

button:hover,
div.webshop_select_option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: none;
}

ul.menu-vertical,
ul.menu-vertical li {
  list-style-type: none;
  padding: 0px;
}

ul.menu-horizontal,
ul.menu-horizontal li {
  display: inline-block;
  margin-right: 10px;
  padding: 0px;
}

.hold_the_line div,
.hold_the_line p,
.hold_the_line h1,
.hold_the_line h2,
.hold_the_line h3,
.hold_the_line h4,
.hold_the_line h5,
.hold_the_line h6,
hold_the_line input,
hold_the_line select {
  display: inline-block;
}

.grouped * {
  display: inline-block;
}

.sub-header * {
  margin-bottom: 0px;
  margin-top: 0px;
}

.sub-header input {
  color: #000;
}

.sub-header,
.sub-header h3 {
  color: #fff;
}

.hide {
  display: none;
}

.pager > li {
  margin: 0;
  display: inline-block;
}

#sort_order {
  float: right;
}

.pager {
  text-align: right;
}
@media screen and (max-width: 575px) {
  .pager {
    text-align: center;
  }
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.cms_content a:not(.tmplt_base_color_text) {
  color: #007bff;
  text-decoration: none;
}
.cms_content a:not(.tmplt_base_color_text):hover {
  text-decoration: underline;
}

.cms_content.row {
  margin: 0px !important;
}
.cms_content.row > .col-12 {
  padding: 0px !important;
}
.cms_content:not(:has(section)).row {
  padding-top: 117px !important;
  padding-bottom: 96px !important;
  padding: 0 24px;
  max-width: 1280px;
  margin: auto !important;
}

.cms__object {
  padding-top: 117px !important;
  padding-bottom: 96px !important;
}
.cms__object .row > * {
  padding: 0;
}
.cms__object #customer_modify > .row {
  margin-bottom: 24px !important;
}
.cms__object #customer_modify > .row > div {
  display: flex;
  align-items: center;
}
.cms__object #customer_modify > .row > div h3 {
  margin-bottom: 0px !important;
}
@media screen and (max-width: 900px) {
  .cms__object #customer_modify {
    width: 100% !important;
  }
  .cms__object #customer_modify > .row {
    margin-bottom: 24px !important;
  }
  .cms__object #customer_modify > .row > div.col-8 {
    width: 100% !important;
  }
  .cms__object #customer_modify > .row > div.col-4 {
    width: 100% !important;
  }
}
.cms__object #sw-form-customer_modify_form .row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.cms__object #sw-form-customer_modify_form .row > * {
  grid-column: span 12/span 12;
}
.cms__object #sw-form-customer_modify_form .row > *.col-8 {
  grid-column: span 8/span 8;
  width: 100% !important;
}
.cms__object #sw-form-customer_modify_form .row > *.col-4 {
  grid-column: span 4/span 4;
  width: 100% !important;
}
@media screen and (max-width: 900px) {
  .cms__object #sw-form-customer_modify_form .row > *.col-8 {
    grid-column: span 12/span 12;
  }
  .cms__object #sw-form-customer_modify_form .row > *.col-4 {
    grid-column: span 12/span 12;
  }
}
.cms__object #sw-form-customer_modify_form .row + .row {
  margin-top: 24px !important;
}
.cms__object #sw-form-customer_modify_form + .row {
  margin-top: 24px !important;
}
.cms__object #sw-form-customer_modify_form + .row button {
  padding-left: 24px;
  padding-right: 24px;
}
.cms__object #customer_order_history,
.cms__object #customer_orders {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media screen and (max-width: 768px) {
  .cms__object #customer_order_history.visible-large,
  .cms__object #customer_orders.visible-large {
    display: none;
  }
}
@media screen and (min-width: 901px) {
  .cms__object #customer_order_history.visible-small,
  .cms__object #customer_orders.visible-small {
    display: none;
  }
}
.cms__object #customer_order_history > .col-2,
.cms__object #customer_orders > .col-2 {
  grid-column: span 2/span 2;
  width: 100% !important;
  display: flex;
  align-items: center;
}
.cms__object #customer_order_history + .row,
.cms__object #customer_orders + .row {
  margin-top: 24px !important;
}
.cms__object #customer_order_history + .row ~ .row,
.cms__object #customer_orders + .row ~ .row {
  margin-top: 12px !important;
}
.cms__object #customer_order_history {
  padding-top: 24px;
}
.cms__object #customer_orders_small .grouped {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.cms__object #customer_orders_small button,
.cms__object #customer_order_history button,
.cms__object #customer_orders button {
  margin-bottom: 0px !important;
  background: black;
  border-color: black;
  color: white;
}
.cms__object #customer_orders_small button:hover,
.cms__object #customer_order_history button:hover,
.cms__object #customer_orders button:hover {
  background: white;
  color: black;
}
.cms__object #customer_reset_password_form .col-12 + .col-12,
.cms__object #customer_login_form .col-12 + .col-12 {
  margin-top: 24px !important;
}
@media screen and (max-width: 900px) {
  .cms__object #customer_reset_password_form,
  .cms__object #customer_login_form {
    width: 100%;
  }
}
.cms__object [data-view=login-buttons] {
  margin-top: 24px !important;
}
.cms__object #sw_customer_login_back {
  margin-bottom: 24px;
}
.cms__object #checkout_one_page:not(.hide) {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 36px;
}
.cms__object #checkout_one_page > .col-12 {
  grid-column: span 12/span 12;
  width: 100% !important;
}
.cms__object #checkout_one_page > .col-lg-4 {
  grid-column: span 4/span 4;
  width: 100% !important;
}
@media screen and (max-width: 900px) {
  .cms__object #checkout_one_page > .col-lg-4 {
    grid-column: span 12/span 12;
  }
}
.cms__object #checkout_one_page button,
.cms__object #checkout_one_page .webshop_select_option {
  margin-top: 12px !important;
  border-color: black;
}
.cms__object #checkout_one_page button.alert-success,
.cms__object #checkout_one_page .webshop_select_option.alert-success {
  background-color: black;
  color: white;
}
.cms__object #checkout_one_page #sw-form-invoice_address > div + div {
  margin-top: 12px !important;
}
.cms__object #checkout_one_page #alt_delivery_form {
  margin-top: 12px !important;
}
.cms__object #checkout_one_page #send_methods + div {
  margin-top: 24px !important;
}
.cms__object #checkout_one_page #account_create .form-control,
.cms__object #checkout_one_page #alt_delivery .form-control,
.cms__object #checkout_one_page #checkout_newsletter_subscribe .form-control,
.cms__object #checkout_one_page .checkout_total_line .form-control {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
.cms__object #checkout_one_page .checkout_total_line {
  display: flex;
  align-items: center;
}
.cms__object #checkout_one_page .checkout_total_line h3 {
  margin-bottom: 0px !important;
}
.cms__object #checkout_one_page #totals .row + .row {
  margin-top: 12px !important;
}
.cms__object #checkout_one_page #sw-form-terms_and_conditions {
  margin-top: 12px !important;
}
.cms__object #checkout_one_page #sw-form-terms_and_conditions .col-12 {
  margin-top: 12px !important;
}
.cms__object .checkout__discounts {
  margin-top: 36px !important;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.cms__object .checkout__discounts > .col-lg-4 {
  grid-column: span 4/span 4;
  width: 100% !important;
}
@media screen and (max-width: 900px) {
  .cms__object .checkout__discounts > .col-lg-4 {
    grid-column: span 12/span 12;
  }
}
.cms__object input,
.cms__object textarea,
.cms__object select {
  border-radius: 0px !important;
  border: 1px solid black !important;
}
.cms__object input + label,
.cms__object textarea + label,
.cms__object select + label {
  margin-top: 12px !important;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-item {
  list-style-type: none;
}

.pager-link-selected {
  font-weight: bold;
}

/* image in a containter to guarantee the 230px height for alignment other elements*/
select.form-control,
textarea.form-control,
input[type=text].form-control,
input[type=password].form-control,
textarea.form-control {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  padding: 10px;
}

textarea.shopping-cart,
input[type=text].shopping-cart,
input[type=password].shopping-cart {
  width: 60%;
}

textarea.form-control {
  height: 300px;
}

select.form-control:not([readonly]):focus,
input[type=text].form-control:not([readonly]):focus,
input[type=password].form-control:not([readonly]):focus,
textarea.form-control:not([readonly]):focus {
  -webkit-appearance: none;
  border-color: #00afe9;
  outline: none;
}

input.form-control[readonly] {
  outline: none;
}

input.form-control.has_error {
  -webkit-appearance: none;
  border-color: #aa0000;
}

input.form-control:-moz-read-only {
  background-color: #eee;
}

input.form-control:read-only {
  background-color: #eee;
}

input.form-control:-moz-read-only {
  background-color: #eee;
}

.form-error {
  font-size: 10px;
}

.clear_margins > div[class^=col] {
  margin-left: 0px;
}

.webshop_select_option {
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  padding: 10px;
}

.checkout_total_line {
  text-align: right;
}

.menu-collapse,
.menu-collapse:hover {
  background: #fff;
}

.menu-collapse i {
  color: #000;
}

.menu {
  height: 30px;
}

/* The snackbar for the cookie message  - middle and bottom  */
#cookie-message {
  visibility: hidden;
  background-color: #ddd;
  color: #000;
  min-width: 550px; /* Set a default minimum width */
  margin-left: -275px; /* Divide value of min-width by 2 */
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 99;
  left: 50%;
  bottom: 30px;
}

li.filter-block-header {
  font-size: 20px;
  font-weight: 900;
  list-style-type: none;
}

#sw_shoppingcart_count,
#sw_wishlist_count {
  font-size: 12px;
  color: #fff;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

.shopping-cart-number,
.wishlist-cart-number {
  position: absolute;
  top: 2px;
  left: 30px;
  background: #000;
  border-radius: 9px;
  pointer-events: none;
}

.menu_customer {
  display: none;
  position: absolute;
  right: 0;
  font-size: 20px;
  list-style-type: none;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 20px 20px;
}

.menu_customer a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

#sw_customer_options:hover + .menu_customer {
  display: table-row-group;
}

.menu_customer:hover {
  display: table-row-group;
}

/* mobile */
@media (max-width: 768px) {
  div.header .row [class^=col] {
    margin: 0px;
  }
  .visible-large {
    display: none;
  }
  .visible-small {
    display: block;
  }
  .menu {
    display: inline-block;
    background: #fff;
    padding: 10px;
    z-index: 999;
    height: auto;
  }
  li.filter-block-header:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    content: "\f067";
    left: -1em;
    color: #000;
  }
  li.filter-block-header.filter-open:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    content: "\f068";
    left: -1em;
    color: #000;
  }
  div.filter-block-options {
    display: none;
  }
  div.filter-block-options.filter-open {
    display: block;
  }
  .menu-mobile {
    display: none;
  }
  .menu-level-0 > li.menu-item {
    color: #000;
  }
}
/* desktop */
@media (min-width: 768px) {
  .filter-block {
    margin-bottom: 48px;
  }
  .visible-large {
    display: block;
  }
  .visible-small {
    display: none;
  }
}
/* classes from the cms editor, these need to be preserved */
.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

figure {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

figure img {
  max-width: 100%;
  height: auto;
}

figure figcaption {
  font-size: 12px;
}

.search-wrapper {
  display: inline-block;
  position: relative;
}

.search-wrapper:after {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  top: 10px;
  position: absolute;
  right: 6px;
  color: #000;
}

.large {
  font-size: 40px;
}

#sw_customer_login:hover,
#checkout_button:hover {
  cursor: hand;
}

.container {
  max-width: 1280px;
}

.menu-navigator ul {
  padding-left: 10px;
}

.menu-navigator li.menu-selected > a {
  font-weight: bold;
}

ul.has-cms-content p {
  color: #000;
}

@media screen and (max-width: 500px) {
  [data-view=login-buttons] button {
    width: 100%;
  }
}
.start-4 {
  left: 16px;
}

.end-4 {
  right: 16px;
}

main {
  margin-top: -117px;
}
main:has(.products:first-child) .products {
  margin-top: 117px;
}

.row {
  margin: 0px !important;
}

.navigation,
.fixed-nav {
  height: 117px;
}

.main-menu ul,
.main-menu ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__control > a,
.navigation__control > button {
  height: 44px;
  width: 44px;
  font-size: 14px;
  cursor: pointer;
  transition: all 300ms ease;
  text-decoration: none;
  margin-bottom: 0;
}
.navigation__control > a:hover,
.navigation__control > button:hover {
  background: white !important;
  border: 1px solid black !important;
  color: black !important;
}
.navigation__control > a:hover .tmplt_attention_color,
.navigation__control > button:hover .tmplt_attention_color {
  color: black !important;
}
.navigation__control > a .tmplt_attention_color,
.navigation__control > button .tmplt_attention_color {
  color: white !important;
}

.navigation__control--user {
  position: relative;
}
.navigation__control--user > a:first-child:not(:has(+ a.hide)) {
  display: none !important;
}
.navigation__control--user a.hide {
  display: none !important;
}

.navigation #navCloser {
  display: none !important;
}
.navigation:has(#sw_menu.active) #menu-toggler {
  display: none !important;
}
.navigation:has(#sw_menu.active) #navCloser {
  display: flex !important;
}

.navigation__logo a {
  position: relative;
  z-index: 1031;
}

@media (min-width: 1177px) {
  .navigation__logo {
    max-width: 225px;
  }
  .main-menu {
    margin-top: 24px;
    max-height: 50vh;
    height: 50vh;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
  .main-menu .menu-item {
    width: 200px;
  }
  .main-menu .menu-item > a {
    display: flex;
    align-items: center;
    min-height: 44px;
    padding: 0 12px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .main-menu .menu-item > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .main-menu .menu-item:first-child > a {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .main-menu .menu-item > ul {
    position: absolute;
    top: 0;
    left: 212px;
    width: 212px;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }
  .main-menu .menu-item > ul > li > ul {
    left: 212px;
  }
  .main-menu .menu-has-children > a {
    position: relative;
    padding-right: 24px;
  }
  .main-menu .menu-has-children > a::after {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  .main-menu .menu-has-children:hover > a {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .main-menu .menu-has-children:hover > ul {
    opacity: 1;
    pointer-events: auto;
  }
  .main-menu .menu-level-0 .menu-has-children > ul {
    padding-left: 12px;
  }
  .main-menu .menu-level-0 li.menu-item:hover .menu-level-1,
  .main-menu .menu-level-0 li.menu-item:hover .menu-level-2 {
    display: block;
  }
}
@media screen and (max-width: 1176px) {
  .navigation__logo {
    max-width: 125px;
  }
  .main-menu ul.menu-level-0 li.menu-closed ul.menu-level-1,
  .main-menu ul.menu-level-1 li.menu-closed ul.menu-level-2 {
    display: none;
  }
  .main-menu .menu-level-1.open {
    display: block;
  }
  .main-menu li {
    padding-left: 0;
  }
  .main-menu ul.menu-level-0 {
    padding-left: 0;
    margin-top: 0;
  }
  .main-menu a {
    text-decoration: none;
    color: black;
  }
  .main-menu a:hover {
    text-decoration: underline;
  }
  .navigation .main-menu {
    padding-top: 24px;
    max-height: 50vh;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
  .navigation .main-menu input {
    margin-top: 45px;
    padding: 0 1rem !important;
    height: 40px;
  }
  .navigation .main-menu.active {
    right: -5px;
    transition: ease 0.3s;
  }
  .navigation .main-menu > div#navCloser {
    display: block;
    position: absolute;
    top: 12.5px;
    right: 2rem;
  }
  .navigation .main-menu > div#navCloser > i {
    float: right;
  }
  .navigation .main-menu .menu-level-0 {
    width: 100%;
  }
  .navigation .main-menu .menu-level-0 > li {
    padding: 12px 2rem 0;
    border-bottom: 1px solid #ebebeb;
    min-height: 50px;
    position: relative;
  }
  .navigation .main-menu .menu-level-0 > li:first-child {
    border-top: 1px solid #ebebeb;
  }
  .navigation .main-menu .menu-level-0 > li.menu-has-children {
    cursor: pointer;
  }
  .navigation .main-menu .menu-level-0 > li.menu-has-children.menu-closed:after, .navigation .main-menu .menu-level-0 > li.menu-has-children.menu-open:after {
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
    color: #6f6f6f;
    position: absolute;
    right: 2rem;
    top: 12.5px;
    font-weight: 900;
  }
  .navigation .main-menu .menu-level-0 > li.menu-has-children.menu-closed:after {
    content: "\f078";
  }
  .navigation .main-menu .menu-level-0 > li.menu-has-children.menu-open:after {
    content: "\f077";
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li {
    padding: 12px 1rem 0;
    min-height: 25px;
    position: relative;
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li:last-child {
    margin-bottom: 1rem;
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li.menu-has-children {
    cursor: pointer;
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li.menu-has-children.menu-closed:after, .navigation .main-menu .menu-level-0 .menu-level-1 > li.menu-has-children.menu-open:after {
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
    color: #6f6f6f;
    position: absolute;
    right: 2rem;
    top: 12.5px;
    font-weight: 900;
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li.menu-has-children.menu-closed:after {
    content: "\f078";
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li.menu-has-children.menu-open:after {
    content: "\f077";
  }
  .navigation .main-menu .menu-level-0 .menu-level-2 > li {
    padding-left: 12px;
  }
  .navigation .backdrop.active {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 2;
  }
  .navigation .icon-bar {
    top: 50%;
  }
}
#sw_menu {
  display: none;
}
#sw_menu.active {
  display: block;
}

select {
  outline: none;
  padding: 0 12px;
  border: 0px;
  height: 40px;
}

.pager-item:not(:first-child):not(:last-child) .pager-link, .pager-item:first-child:has(.pager-link-selected) .pager-link, .pager-item:last-child:has(.pager-link-selected) .pager-link {
  color: white;
  background: black;
  border: 1px solid black;
  border-radius: 100%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  text-decoration: none;
  transition: all 300ms ease;
}
.pager-item:not(:first-child):not(:last-child) .pager-link:hover, .pager-item:first-child:has(.pager-link-selected) .pager-link:hover, .pager-item:last-child:has(.pager-link-selected) .pager-link:hover {
  background: white;
  color: black;
}
.pager-item:first-child:not(:has(.pager-link-selected)) .pager-link, .pager-item:last-child:not(:has(.pager-link-selected)) .pager-link {
  color: black;
  text-decoration: none;
  margin-left: 4px;
}
.pager-item:first-child:not(:has(.pager-link-selected)) .pager-link:hover, .pager-item:last-child:not(:has(.pager-link-selected)) .pager-link:hover {
  text-decoration: underline;
}

.btn-solid {
  transition: all 300ms ease;
  padding: 4px 24px;
  width: auto;
  border-radius: 9999px;
  font-size: 14px;
  border: 1px solid transparent;
  margin-bottom: unset;
  line-height: unset;
  font-weight: 500;
  min-height: 36px;
}
.btn-solid:hover {
  background: white;
  color: #000;
  border-color: #000;
}

/* USPS */
.usps {
  margin-bottom: 96px;
  border-bottom: 1px solid #f0f0f0;
}
@media (max-width: 768px) {
  .usps {
    margin-bottom: 36px;
  }
}

.paragraphs {
  margin-bottom: 96px;
}
.paragraphs a {
  color: black;
  font-weight: bold;
}
.paragraphs .row + .row {
  margin-top: 64px;
}
.paragraphs:has(+ .overview-products) {
  padding-bottom: 96px;
  border-bottom: 1px solid #f0f0f0;
}
@media (max-width: 768px) {
  .paragraphs {
    margin-bottom: 36px;
  }
  .paragraphs:has(+ .overview-products) {
    padding-bottom: 36px;
  }
  .paragraphs .row + .row {
    margin-top: 36px;
  }
}

.breadcrumbs {
  margin-top: 117px;
}
.breadcrumbs .btn-solid {
  min-height: 36px;
  display: inline-flex;
  align-items: center;
}

.breadcrumb-container {
  width: auto;
  margin: unset;
  align-items: center;
}
.breadcrumb-container > .col-12 {
  padding: 0px !important;
}

.breadcrumb {
  background-color: transparent;
  padding: unset;
  margin-bottom: unset;
}
.breadcrumb a {
  color: #000;
}
.breadcrumb span {
  display: inline-block;
  padding: 0px 4px;
}

#category-filter-button,
#filter-closer {
  display: none;
}

@media screen and (max-width: 767px) {
  [data-view=filter] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    background-color: #fff;
    z-index: 1050;
    padding: 0;
    overflow-y: scroll;
    width: calc(100% + 20px);
    max-width: calc(100% + 20px);
  }
  [data-view=filter]#category-filter {
    display: none;
  }
  [data-view=filter]#category-filter.active {
    display: block;
  }
  [data-view=filter] #filter-closer {
    display: block;
    color: #fff;
    padding: 5px 0px;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }
  [data-view=filter] #filter-closer i,
  [data-view=filter] #filter-closer p {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
  }
  [data-view=filter] #filter-closer i {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    display: flex;
    align-items: center;
  }
  [data-view=filter] .filter {
    padding-left: 15px;
    padding-right: 15px;
  }
  [data-view=filter] form.filter > .filter-block {
    border-top: 1px solid #ebebeb;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  [data-view=filter] form.filter > .filter-block li {
    position: relative;
  }
  [data-view=filter] form.filter > .filter-block li::before {
    position: absolute;
    right: 30px;
    left: unset;
    content: "\f078";
    color: #6f6f6f;
    font-size: 1rem;
  }
  [data-view=filter] form.filter > .filter-block li.filter-open::before {
    content: "\f077";
  }
  [data-view=filter] form.filter > .filter-block:last-child {
    border-bottom: 1px solid #ebebeb;
  }
  #category-filter-button {
    display: block;
    color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0px 2px 24px -9px rgba(0, 0, 0, 0.6);
    padding: 5px 0px;
    position: fixed;
    width: 280px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    z-index: 5;
  }
  #category-filter-button i,
  #category-filter-button p {
    display: inline-block;
  }
}
.products__filter-title {
  border-bottom: 1px solid black;
  color: black;
}
.products__filter-title a {
  color: black;
  text-decoration: underline;
}
.products__filter-title a:hover {
  text-decoration: none;
}

.filter-block-header {
  position: relative;
  padding-left: 0;
  list-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}
@media (min-width: 768px) {
  .filter-block-header {
    margin-bottom: 1.5rem;
  }
}

.filter-block-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.filter-block-item input:checked + label::before {
  background-color: black;
  content: "\f00c";
}
.filter-block-item label {
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.filter-block-item label::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid black;
}
.filter-block-item + .filter-block-item {
  margin-top: 8px;
}

.navigation,
.fixed-nav {
  height: 117px;
}

.main-menu ul,
.main-menu ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__control > a,
.navigation__control > button {
  height: 44px;
  width: 44px;
  font-size: 14px;
  cursor: pointer;
  transition: all 300ms ease;
  text-decoration: none;
  margin-bottom: 0;
}
.navigation__control > a:hover,
.navigation__control > button:hover {
  background: white !important;
  border: 1px solid black !important;
  color: black !important;
}
.navigation__control > a:hover .tmplt_attention_color,
.navigation__control > button:hover .tmplt_attention_color {
  color: black !important;
}
.navigation__control > a .tmplt_attention_color,
.navigation__control > button .tmplt_attention_color {
  color: white !important;
}

.navigation__control--user {
  position: relative;
}
.navigation__control--user > a:first-child:not(:has(+ a.hide)) {
  display: none !important;
}
.navigation__control--user a.hide {
  display: none !important;
}

.navigation #navCloser {
  display: none !important;
}
.navigation:has(#sw_menu.active) #menu-toggler {
  display: none !important;
}
.navigation:has(#sw_menu.active) #navCloser {
  display: flex !important;
}

.navigation__logo a {
  position: relative;
  z-index: 1031;
}

@media (min-width: 1177px) {
  .navigation__logo {
    max-width: 225px;
  }
  .main-menu {
    margin-top: 24px;
    max-height: 50vh;
    height: 50vh;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
  .main-menu .menu-item {
    width: 200px;
  }
  .main-menu .menu-item > a {
    display: flex;
    align-items: center;
    min-height: 44px;
    padding: 0 12px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .main-menu .menu-item > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .main-menu .menu-item:first-child > a {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .main-menu .menu-item > ul {
    position: absolute;
    top: 0;
    left: 212px;
    width: 212px;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }
  .main-menu .menu-item > ul > li > ul {
    left: 212px;
  }
  .main-menu .menu-has-children > a {
    position: relative;
    padding-right: 24px;
  }
  .main-menu .menu-has-children > a::after {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  .main-menu .menu-has-children:hover > a {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .main-menu .menu-has-children:hover > ul {
    opacity: 1;
    pointer-events: auto;
  }
  .main-menu .menu-level-0 .menu-has-children > ul {
    padding-left: 12px;
  }
  .main-menu .menu-level-0 li.menu-item:hover .menu-level-1,
  .main-menu .menu-level-0 li.menu-item:hover .menu-level-2 {
    display: block;
  }
}
@media screen and (max-width: 1176px) {
  .navigation__logo {
    max-width: 125px;
  }
  .main-menu ul.menu-level-0 li.menu-closed ul.menu-level-1,
  .main-menu ul.menu-level-1 li.menu-closed ul.menu-level-2 {
    display: none;
  }
  .main-menu .menu-level-1.open {
    display: block;
  }
  .main-menu li {
    padding-left: 0;
  }
  .main-menu ul.menu-level-0 {
    padding-left: 0;
    margin-top: 0;
  }
  .main-menu a {
    text-decoration: none;
    color: black;
  }
  .main-menu a:hover {
    text-decoration: underline;
  }
  .navigation .main-menu {
    padding-top: 24px;
    max-height: 50vh;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
  .navigation .main-menu input {
    margin-top: 45px;
    padding: 0 1rem !important;
    height: 40px;
  }
  .navigation .main-menu.active {
    right: -5px;
    transition: ease 0.3s;
  }
  .navigation .main-menu > div#navCloser {
    display: block;
    position: absolute;
    top: 12.5px;
    right: 2rem;
  }
  .navigation .main-menu > div#navCloser > i {
    float: right;
  }
  .navigation .main-menu .menu-level-0 {
    width: 100%;
  }
  .navigation .main-menu .menu-level-0 > li {
    padding: 12px 2rem 0;
    border-bottom: 1px solid #ebebeb;
    min-height: 50px;
    position: relative;
  }
  .navigation .main-menu .menu-level-0 > li:first-child {
    border-top: 1px solid #ebebeb;
  }
  .navigation .main-menu .menu-level-0 > li.menu-has-children {
    cursor: pointer;
  }
  .navigation .main-menu .menu-level-0 > li.menu-has-children.menu-closed:after, .navigation .main-menu .menu-level-0 > li.menu-has-children.menu-open:after {
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
    color: #6f6f6f;
    position: absolute;
    right: 2rem;
    top: 12.5px;
    font-weight: 900;
  }
  .navigation .main-menu .menu-level-0 > li.menu-has-children.menu-closed:after {
    content: "\f078";
  }
  .navigation .main-menu .menu-level-0 > li.menu-has-children.menu-open:after {
    content: "\f077";
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li {
    padding: 12px 1rem 0;
    min-height: 25px;
    position: relative;
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li:last-child {
    margin-bottom: 1rem;
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li.menu-has-children {
    cursor: pointer;
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li.menu-has-children.menu-closed:after, .navigation .main-menu .menu-level-0 .menu-level-1 > li.menu-has-children.menu-open:after {
    font-family: "Font Awesome 5 Free";
    font-size: 1rem;
    color: #6f6f6f;
    position: absolute;
    right: 2rem;
    top: 12.5px;
    font-weight: 900;
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li.menu-has-children.menu-closed:after {
    content: "\f078";
  }
  .navigation .main-menu .menu-level-0 .menu-level-1 > li.menu-has-children.menu-open:after {
    content: "\f077";
  }
  .navigation .main-menu .menu-level-0 .menu-level-2 > li {
    padding-left: 12px;
  }
  .navigation .backdrop.active {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 2;
  }
  .navigation .icon-bar {
    top: 50%;
  }
}
#sw_menu {
  display: none;
}
#sw_menu.active {
  display: block;
}

.footer__top {
  padding: 60px 0;
}
.footer__top a {
  display: block;
  text-decoration: none;
}
.footer__top a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer__top {
    padding: 36px 0;
  }
  .footer__top a {
    display: flex;
    align-items: center;
    min-height: 44px;
  }
}
.header--products {
  padding-top: 117px;
  margin-bottom: 96px;
}
.header--products .header__image {
  inset: 0;
}
.header--products .header__image img {
  -o-object-fit: cover;
     object-fit: cover;
}
.header--products .header__image::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
}
.header--products .header__text {
  padding: 80px 0px;
}
.header--products .header__text h1 {
  font-size: 58px;
  font-weight: 800;
}
.header--products .header__text h1 + * {
  margin-top: 20px;
}
.header--products::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 117px;
  background-color: #f0f0f0;
}

.header--product {
  margin-bottom: 96px;
}
.header--product h1 + * {
  margin-top: 24px;
}
.header--product .col-12 + .col-12 {
  margin-top: 24px;
}

.header__price {
  font-size: 30px;
}

.header__price--old {
  font-size: 20px;
}
.header__price--old::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  height: 1px;
  background-color: black;
  transform: rotate(-12deg);
}

@media (max-width: 768px) {
  .header--products {
    margin-bottom: 36px;
  }
  .header--products .header__text {
    padding: 36px 0px;
  }
  .header--products .header__text h1 {
    font-size: 36px;
  }
  .header--products .header__text h1 + * {
    margin-top: 12px;
  }
  .header--product {
    margin-bottom: 36px;
  }
  .header--product h1 + * {
    margin-top: 12px;
  }
  .header--product .col-12 + .col-12 {
    margin-top: 12px;
  }
}
.header--homepage {
  background-color: #f0f0f0;
  overflow-x: clip;
  margin-bottom: 72px;
  z-index: 1;
  padding-top: 117px;
}
.header--homepage h1 {
  font-size: 58px;
  color: black;
}
.header--homepage h1 + * {
  margin-top: 24px;
}
.header--homepage h2 {
  color: black;
}
.header--homepage h2 + * {
  margin-top: 48px;
}

.header__button::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 160px;
  border-top: 1px solid black;
}
.header__button .btn--solid-theme {
  display: inline-flex;
  height: 40px;
  padding: 12px 24px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  transition: all 300ms ease;
  border: 1px solid black;
}
.header__button .btn--solid-theme:hover {
  background-color: white;
  color: black;
}

.header__category {
  text-decoration: none;
  font-weight: 100;
  color: black !important;
}
.header__category:hover {
  text-decoration: underline;
}
.header__category:not(:first-child) {
  padding-left: 16px;
  margin-left: 8px;
}
.header__category:not(:first-child)::before {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  content: "/";
  left: 0;
}

.header__media {
  z-index: -10;
  position: relative;
  height: 500px;
  -webkit-mask: url("../files/header-shape.svg");
  mask: url("../files/header-shape.svg");
  -webkit-mask-position: bottom;
  mask-position: bottom;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}
.header__media::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.3);
}

@media (min-width: 992px) {
  .header__media {
    height: 300px;
    position: absolute;
    inset: 0;
    top: 117px;
    width: 900px;
    margin-bottom: -72px;
    height: unset;
  }
  .header__content {
    padding-top: 96px;
    min-height: 570px;
  }
}
@media (max-width: 991px) {
  .header__content {
    padding-top: 36px;
    row-gap: 24px;
  }
  .header__button::before {
    margin-right: auto;
    margin-left: auto;
    left: 0;
  }
}
@media (max-width: 768px) {
  .header--homepage {
    margin-bottom: 36px;
  }
  .header--homepage h1 {
    font-size: 36px;
  }
  .header--homepage h2 {
    color: black;
  }
  .header--homepage h2 + * {
    margin-top: 24px;
  }
  .header__content {
    padding-top: 24px;
    min-height: 0px;
    padding-bottom: 36px !important;
  }
}
.size__add-to-cart .input-group {
  margin-top: 12px !important;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media screen and (max-width: 600px) {
  .size__add-to-cart .input-group {
    flex-direction: column;
    align-items: self-start;
    row-gap: 12px;
  }
  .size__add-to-cart .input-group input {
    width: auto !important;
  }
}

.size__add input {
  border: 1px solid black !important;
  border-radius: 0 !important;
}

@media screen and (min-width: 576px) and (max-width: 1000px) {
  .products .product {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 575px) {
  .products .product {
    padding: 0px;
  }
  .products .product.col-6 {
    padding: 0px 4px;
  }
}

.product__items {
  margin-left: -12px !important;
  margin-right: -12px !important;
}
@media screen and (max-width: 575px) {
  .product__items {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.product__content {
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid transparent;
  transition: all 300ms ease;
}
.product__content:hover {
  border: 1px solid black;
}

.overview__cart button {
  border: 1px solid black;
  color: white;
  font-size: 12px;
  width: 36px;
  height: 36px;
  text-decoration: none;
  transition: all 300ms ease;
  border-radius: 100%;
}
.overview__cart button i {
  color: white;
}
.overview__cart button:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
.overview__cart button:hover i {
  color: black;
  text-decoration: none;
}

.product__discount {
  font-size: 12px;
  padding: 4px 10px;
  right: 12px;
  top: -12px;
}

.product__image {
  aspect-ratio: 244/248;
}
.product__image img {
  mix-blend-mode: darken;
}

.product__price {
  font-size: 14px;
  min-height: 36px;
}

.product__price--discount {
  font-size: 10px;
}
.product__price--discount::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  height: 1px;
  background-color: white;
  transform: rotate(-12deg);
}

.product__link {
  border: 1px solid black;
  color: white;
  font-size: 12px;
  width: 36px;
  height: 36px;
  text-decoration: none;
  transition: all 300ms ease;
}
.product__link i {
  color: white;
}
.product__link:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
.product__link:hover i {
  color: black;
  text-decoration: none;
}

.selected-products .container > .row {
  row-gap: 24px;
}
.selected-products .container > .row > .row {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  row-gap: 24px;
}
@media screen and (min-width: 992px) {
  .selected-products .container > .row > .row {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.selected-products,
.overview-products {
  margin-bottom: 96px;
}
@media (max-width: 768px) {
  .selected-products,
  .overview-products {
    margin-bottom: 36px;
  }
}

.overview-products .container > .row > .row {
  margin: 0px !important;
  padding: 0px !important;
  row-gap: 24px;
}
@media (min-width: 992px) {
  .overview-products .product {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.article_image_detail > img {
  width: 95%;
}

.article_images_all {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 36px;
  padding: 0px !important;
}

.article_images_all > li {
  margin: 0;
  display: inline-block;
}

ul.article_images_all > li > img {
  width: 89px;
  height: 89px;
  padding: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  border: 1px solid #f0f0f0;
}

div.article-list-small > p {
  font-weight: 900;
}

.article_list_overlay {
  position: relative;
}

.aio_rotated {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 100px;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  background-color: red;
  opacity: 0.7;
  color: #ffffff;
  padding: 2px 10px 2px 10px;
  z-index: 1;
}

.overlay-article {
  background-color: red;
}

.overlay-discount {
  background-color: green;
}

.overlay-new {
  background-color: blue;
}

.zoom_overlay {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 20px;
  font-size: 30px;
  background: none;
  opacity: 0.3;
  z-index: 1;
}

.aio_straight {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 100px;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  background-color: green;
  color: #ffffff;
  padding: 2px 10px 2px 10px;
}

@media screen and (max-width: 900px) {
  .sw_block > div.row > .article_item_small {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  [data-view=article-detail] > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .sw_block > div.row > .article_item_small {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
#render_cart_here .col-4 img,
#wishlist_cart .col-4 img {
  max-width: 100%;
  height: auto;
}
#render_cart_here .col-8,
#wishlist_cart .col-8 {
  padding-left: 0;
  padding-right: 0;
}
#render_cart_here .col-8 > div > div,
#wishlist_cart .col-8 > div > div {
  padding-left: 0;
  padding-right: 0;
}
#render_cart_here .col-8 > div > div > div.pull-right,
#wishlist_cart .col-8 > div > div > div.pull-right {
  float: none;
}
#render_cart_here .col-8 > div.col-12,
#wishlist_cart .col-8 > div.col-12 {
  padding-left: 0;
  padding-right: 0;
}
#render_cart_here button,
#wishlist_cart button {
  transition: all 300ms ease;
  width: auto;
  border-radius: 9999px;
  font-size: 14px;
  border: 1px solid transparent;
  margin-bottom: unset;
  line-height: unset;
  font-weight: 500;
  min-height: 36px;
  background: black;
  color: white;
  width: 44px;
  height: 44px;
}
#render_cart_here button:hover,
#wishlist_cart button:hover {
  background: white;
  color: #000;
  border-color: #000;
}
#render_cart_here > .row,
#wishlist_cart > .row {
  padding-top: 24px !important;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
}
#render_cart_here > .row:first-child,
#wishlist_cart > .row:first-child {
  padding-bottom: 24px;
}
#render_cart_here > .row:last-child,
#wishlist_cart > .row:last-child {
  padding-bottom: 24px !important;
  border-bottom: 1px solid black;
}
#render_cart_here input[type=text].shopping-cart,
#wishlist_cart input[type=text].shopping-cart {
  width: 50% !important;
}
@media screen and (max-width: 600px) {
  #render_cart_here input[type=text].shopping-cart,
  #wishlist_cart input[type=text].shopping-cart {
    width: 100% !important;
  }
}
#render_cart_here .pull-right,
#wishlist_cart .pull-right {
  float: none !important;
}

#checkout_one_page input,
#checkout_one_page select {
  height: 38px;
}
#checkout_one_page select {
  padding-bottom: 0;
  padding-top: 0;
}
#checkout_one_page input[type=checkbox] {
  height: 15px;
  width: 15px;
}

@media screen and (max-width: 500px) {
  #render_cart_here .col-4 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  #render_cart_here .col-8 {
    padding-left: 16px;
    padding-right: 16px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #render_cart_here .col-8 > div.row > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #render_cart_here .col-8 > div.col-12 input.shopping-cart {
    width: 100%;
  }
  #render_cart_here .col-8 > div.col-12 button {
    margin-top: 10px;
  }
}
@media screen and (max-width: 400px) {
  #render_cart_here .col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}/*# sourceMappingURL=stylesheet.css.map */