.footer{
    padding-top: 1.5rem;
}

@media screen and (max-width: 900px){
    .footer{
        >div{
            >div:first-child{
                >div{
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .footer{
        >div{
            >div:first-child{
                >div{
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

