/* Navigation */
.navigation {
  > .container {
    height: 117px;
  }
}

.navigation__control {
  height: 44px;
  width: 44px;
  font-size: 14px;
}

.navigation__logo {
  position: relative;
  z-index: 1035;

  img {
    height: 56px;
  }
}

/* Paragraphs */
.paragraphs {
  margin-bottom: 96px;

  .row + .row {
    margin-top: 36px;
  }
}

@media (max-width: 768px) {
  .paragraphs {
    margin-bottom: 36px;
  }
}

/* Products */
.selected-products {
  margin-bottom: 96px;

  @media (max-width: 768px) {
    margin-bottom: 36px;
  }
}

.product {
  background-color: #f0f0f0;
}

.product__image {
  aspect-ratio: 244 / 248;

  img {
    mix-blend-mode: darken;
  }
}

.product__price {
  /* Temporary convert to theme color of CMS */
  background: black;
  color: white;
  font-size: 14px;
  min-height: 36px;
}

.product__link {
  /* Temporary convert to theme color of CMS */
  background: black;
  border: 1px solid black;
  color: white;
  font-size: 12px;
  width: 36px;
  height: 36px;
  text-decoration: none;
  transition: all 300ms ease;

  /* Temporary convert to theme color of CMS */
  &:hover {
    background-color: white;
    color: black;
  }
}

/* Footer */
.footer__top {
  /* Temporary convert to theme color of CMS */
  background: black;
  color: white;
  padding: 60px 0;

  a {
    display: block;
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__shipping-logos {
  img {
    max-height: 44px;
  }
}

.footer__payment-logos {
  img {
    height: 40px;
  }
}

.footer__bottom {
  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 600px) {
  .footer__top {
    padding: 36px 0;

    a {
      display: flex;
      align-items: center;
      min-height: 44px;
    }
  }
}
