/* ############################## */
/* Framework */
/* ############################## */

/* Navigation */
.navigation {
  > .container {
    height: 117px;
  }
}

.navigation__control {
  height: 44px;
  width: 44px;
  font-size: 14px;
}

.navigation__logo {
  position: relative;
  z-index: 1035;

  img {
    height: 56px;
  }
}

/* Footer */
.footer__top {
  /* Temporary convert to theme color of CMS */
  background: black;
  color: white;
  padding: 60px 0;

  a {
    display: block;
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer__shipping-logos {
  img {
    max-height: 44px;
  }
}

.footer__payment-logos {
  img {
    height: 40px;
  }
}

.footer__bottom {
  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 600px) {
  .footer__top {
    padding: 36px 0;

    a {
      display: flex;
      align-items: center;
      min-height: 44px;
    }
  }
}

/* ############################## */
/* Global */
/* ############################## */

/* Paragraphs */
.paragraphs {
  margin-bottom: 96px;

  .row + .row {
    margin-top: 36px;
  }

  &:has(+ .overview-products) {
    padding-bottom: 96px;
    border-bottom: 1px solid #f0f0f0;
  }
}

@media (max-width: 768px) {
  .paragraphs {
    margin-bottom: 36px;

    &:has(+ .overview-products) {
      padding-bottom: 36px;
    }
  }
}

/* Products */
.product {
  background-color: #f0f0f0;
}

.product__discount {
  /* Temporary convert to theme color of CMS */
  background: black;
  color: white;
  font-size: 12px;
  padding: 4px 10px;
  right: 12px;
  top: -12px;
}

.product__image {
  aspect-ratio: 244 / 248;

  img {
    mix-blend-mode: darken;
  }
}

.product__price {
  /* Temporary convert to theme color of CMS */
  background: black;
  color: white;
  font-size: 14px;
  min-height: 36px;
}

.product__price--discount {
  font-size: 10px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    height: 1px;
    background-color: white;
    transform: rotate(-12deg);
  }
}

.product__link {
  /* Temporary convert to theme color of CMS */
  background: black;
  border: 1px solid black;
  color: white;
  font-size: 12px;
  width: 36px;
  height: 36px;
  text-decoration: none;
  transition: all 300ms ease;

  /* Temporary convert to theme color of CMS */
  &:hover {
    background-color: white;
    color: black;
  }
}

/* ############################## */
/* Homepage */
/* ############################## */

/* USPS */
.usps {
  margin-bottom: 96px;
  border-bottom: 1px solid #f0f0f0;
}

@media (max-width: 768px) {
  .usps {
    margin-bottom: 36px;
  }
}

/* Products */
.selected-products,
.overview-products {
  margin-bottom: 96px;

  @media (max-width: 768px) {
    margin-bottom: 36px;
  }
}

/* ############################## */
/* Products overview */
/* ############################## */
.header--products {
  margin-bottom: 96px;

  .header__image {
    inset: 0;

    img {
      object-fit: cover;
    }

    &::after {
      content: "";
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      inset: 0;
    }
  }

  .header__text {
    padding: 80px 0px;

    h1 {
      font-size: 58px;

      + * {
        margin-top: 20px;
      }
    }
  }
}

.products {
  margin-bottom: 96px;

  select {
    background-color: black;
    outline: none;
    padding: 0 12px;
    border: 0px;
    color: white;
    height: 40px;
  }
}

.pager-item {
  &:not(:last-child) {
    .pager-link {
      /* Temporary convert to theme color of CMS */
      color: white;
      background: black;
      border: 1px solid black;
      border-radius: 100%;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      width: 36px;
      text-decoration: none;
      transition: all 300ms ease;

      &:hover {
        background: white;
        color: black;
      }
    }
  }

  &:last-child {
    .pager-link {
      /* Temporary convert to theme color of CMS */
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .products {
    margin-bottom: 36px;
  }

  .header--products {
    margin-bottom: 36px;

    .header__text {
      padding: 36px 0px;

      h1 {
        font-size: 36px;

        + * {
          margin-top: 12px;
        }
      }
    }
  }
}

.products__filter-title {
  border-bottom: 1px solid black;
}

.filter-block {
  + .filter-block {
    margin-top: 40px;
  }
}

.filter-block-item {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked + label {
    &::before {
      background-color: black;
      content: "\f00c";
    }
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 8px;

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 14px;
      color: white;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      content: "";
      width: 36px;
      height: 36px;
      border-radius: 4px;
      border: 1px solid black;
    }
  }

  + .filter-block-item {
    margin-top: 8px;
  }
}
